*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: DM Sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 502px;
  margin: 0 auto;
  background-color: rgb(255, 184, 202);
}
.header__counter-container {
  display: none;
  visibility: 0;
  pointer-events: none;
}
.header__tablet-desktop-icons {
  display: none;
  visibility: 0;
  pointer-events: none;
}
.header__nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.header__logo {
  padding-top: 6px;
}
.header__burger {
  background: none;
  border: none;
  padding-top: 25px;
  width: 20px;
  height: 12px;
}
.header__banner {
  position: relative;
  display: flex;
}
.header__banner-background {
  z-index: 1;
}
.header__banner-background picture#pic1 {
  position: absolute;
  z-index: 3;
  width: 344px;
  height: 346px;
  left: 36px;
  top: 30px;
}
.header__banner-background picture#pic2 {
  position: absolute;
  z-index: 4;
  width: 171px;
  height: 410px;
  top: 43px;
  left: 120px;
}
.header__banner-title {
  font-family: Titan One;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-decoration: none;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 218px;
  height: 100%;
  gap: 20px;
  left: 20px;
  top: 137px;
}
.header__banner-title--red {
  color: rgb(212, 20, 67);
  font-size: 48px;
  line-height: 46px;
}
.header__banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header__banner-button1 {
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(212, 20, 67);
  border-radius: 20px;
  border: none;
  width: 62px;
  height: 24px;
}
.header__banner-button2 {
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(212, 20, 67);
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  width: 83px;
  height: 24px;
}

.mobile-header {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 0px;
  background-color: rgb(225, 121, 146);
  z-index: 20;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.mobile-menu__button {
  position: relative;
  z-index: 4;
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(212, 20, 67);
  width: 160px;
  height: 44px;
  background: rgb(255, 255, 255);
  border-radius: 22px;
  border: none;
}
.mobile-menu__button--gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.mobile-menu__center {
  display: flex;
  justify-content: center;
}
.mobile-menu__item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 19px;
  list-style: none;
  width: 100%;
}
.mobile-menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.mobile-menu__links-item {
  display: flex;
  width: 100%;
  height: 42px;
  border-top: 1px solid #E18298;
}
.mobile-menu__links-item:nth-child(5) {
  border-bottom: 1px solid #E18298;
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 21px;
}
.mobile-menu__link--current {
  color: rgb(212, 20, 67);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
  }
  .mobile-menu {
    position: fixed;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 254px;
    height: 100%;
    padding: 60px 0px 0px 0px;
    background-color: rgb(225, 121, 146);
    z-index: 20;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
  }
  .header {
    height: 399px;
    padding-top: 37px;
    overflow: hidden;
  }
  .header__nav-mobile {
    padding: 0px 34px 0px 34px;
  }
  .header__burger {
    margin-right: 30px;
    position: relative;
    z-index: 4;
  }
  .header__banner {
    position: relative;
    display: flex;
  }
  .header__banner-background picture#pic1 {
    position: absolute;
    z-index: 2;
    width: 324px;
    height: 322px;
    left: 307px;
    top: -55px;
  }
  .header__banner-background picture#pic2 {
    position: absolute;
    z-index: 3;
    width: 143px;
    height: 336px;
    left: 378px;
    top: -30px;
  }
  .header__banner-title {
    max-width: 162px;
    height: 80px;
    left: 34px;
    top: 15px;
  }
  .header__banner-title--red {
    line-height: 25px;
    font-size: 34px;
  }
  .header__counter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 44px;
    margin-bottom: 14px;
    margin-top: 20px;
  }
  .header__counter-container > svg {
    position: absolute;
    fill: rgb(255, 255, 255);
    right: 38px;
    top: -2px;
    width: 16px;
    height: 16px;
  }
  .header__counter {
    z-index: 2;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgb(212, 20, 67);
  }
  .header__counter-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: rgb(255, 255, 255);
  }
  .header__tablet-desktop-icons {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  .header__circle-button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    bottom: -27px;
    left: 0;
  }
}
picture img#pic3 {
  z-index: 4;
  position: absolute;
  width: 124px;
  height: 126px;
  bottom: 28px;
  left: 34px;
}

figcaption {
  position: absolute;
  bottom: 50px;
  left: 150px;
  width: 114px;
  height: 48px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: rgb(255, 255, 255);
}

picture img#pic4 {
  z-index: 4;
  position: absolute;
  width: 168px;
  height: 133px;
  bottom: 0;
  right: 34px;
}

@media screen and (max-width: 1199px) {
  .header__desktop-menu {
    display: none;
    pointer-events: none;
    visibility: 0;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu__button {
    display: none;
    visibility: none;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
  }
  .mobile-menu {
    display: none;
    visibility: hidden;
  }
  .header {
    height: 665px;
    padding: 0;
    padding-top: 37px;
  }
  .header__counters-container {
    padding-top: 60px;
  }
  .header__counter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 115px;
    margin-bottom: 14px;
    margin-top: 20px;
  }
  .header__counter-container > svg {
    position: absolute;
    fill: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    right: 97px;
    top: -2px;
  }
  .header__counter {
    z-index: 2;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgb(212, 20, 67);
  }
  .header__counter-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    text-align: right;
    color: rgb(255, 255, 255);
  }
  .header__circle-button {
    background: none;
    height: 18px;
    width: 18px;
    border: none;
    position: absolute;
    padding-top: 20px;
    bottom: -27px;
    left: 0;
  }
  .header__tablet-desktop-icons {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  .header__tablet-desktop-icons picture img#pic3 {
    z-index: 4;
    position: absolute;
    width: 188px;
    height: 191px;
    bottom: 48px;
    left: 64px;
  }
  .header__tablet-desktop-icons figcaption {
    bottom: 130px;
    left: 292px;
    width: 200px;
    height: 48px;
    font-size: 14px;
    line-height: 20px;
  }
  .header__tablet-desktop-icons picture img#pic4 {
    position: relative;
    width: 293px;
    height: 232px;
    left: 900px;
  }
  .header__burger {
    display: none;
    visibility: 0;
    pointer-events: none;
  }
  .header__nav-mobile {
    align-items: center;
    padding-left: 46px;
    position: relative;
    z-index: 6;
  }
  .header__banner-button1:hover {
    background-color: rgb(199, 19, 62);
  }
  .header__banner-button2:hover {
    background-color: rgb(236, 235, 235);
  }
  .header__banner-background picture#pic1 {
    position: absolute;
    z-index: 2;
    width: 538px;
    height: 538px;
    left: 460px;
    top: -40px;
  }
  .header__banner-background picture#pic2 {
    position: absolute;
    z-index: 3;
    width: 236px;
    height: 557px;
    left: 594px;
    top: 15px;
  }
  .header__banner-title {
    max-width: 277px;
    height: 137px;
    left: 115px;
    top: 84px;
  }
  .header__banner-title--red {
    line-height: 52px;
    font-size: 58px;
  }
  .header__banner-buttons {
    position: absolute;
    top: 165px;
  }
  .header__banner-button1 {
    width: 104px;
    height: 40px;
    font-size: 14px;
  }
  .header__banner-button2 {
    width: 138px;
    height: 40px;
    font-size: 14px;
  }
  .header__circle-button {
    bottom: -65px;
    width: 26px;
    height: 26px;
  }
  .mobile-menu__button {
    margin-right: 80px;
    margin-left: 75px;
  }
  .menu__list {
    list-style: none;
    display: flex;
    gap: 35px;
  }
  .menu__item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__item > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .menu__item > a.menu__item--current {
    color: rgb(212, 20, 67);
  }
  .menu__item > a:hover {
    color: rgb(212, 20, 67);
  }
  .menu__item#menu-first {
    padding-left: 65px;
  }
  .mobile-menu__button:hover {
    background: rgb(236, 235, 235);
  }
}
.products {
  width: 100%;
  padding: 121px 20px 98px;
  margin: 0 auto;
}

.products__label {
  display: block;
  color: rgb(255, 165, 186);
  font-family: Titan One;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
  margin-bottom: 15px;
}

.products__header {
  font-family: Titan One;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(212, 20, 67);
  margin-bottom: 144px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 161px 40px 41px;
}
.product--icecream {
  background-color: rgb(255, 165, 186);
  border-radius: 24px;
  position: relative;
}
.product--icecream::before {
  content: url("../images/product1.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}
.product--coffee {
  background-color: #f0d1a5;
  border-radius: 24px;
}
.product--coffee::before {
  content: url("../images/product2.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}
.product--milkshake {
  background-color: #c2e297;
  border-radius: 24px;
}
.product--milkshake::before {
  content: url("../images/product3.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}

.product__name {
  font-family: Titan One;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: auto;
  position: relative;
  padding-bottom: 30px;
  line-height: 15px;
  margin-bottom: 10px;
}
.product__name::after {
  content: "...";
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: -30px;
  left: 0;
}

.product__description {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 152%;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.product__description--details {
  position: relative;
  color: rgb(212, 20, 67);
  display: none;
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  transition: 250ms ease;
}
.product-button:hover {
  background-color: rgb(212, 20, 67);
  transition: 250ms ease;
  cursor: pointer;
}
.product-button:hover .product-button__icon {
  fill: rgb(255, 255, 255);
}

.product-button__icon {
  width: 15px;
  height: 15px;
  fill: rgb(212, 20, 67);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .products__label {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .products__header {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-bottom: 150px;
  }
  .products-list {
    column-gap: 20px;
    row-gap: 0;
  }
  .product {
    padding: 152px 15px 40px;
    flex-basis: calc((100% - 40px) / 3);
  }
  .product__name {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .product__description {
    line-height: 176%;
  }
  .product--icecream::before {
    content: url("../images/tb-product1.png");
    position: absolute;
    top: -105px;
  }
  .product--coffee::before {
    content: url("../images/tb-product2.png");
    position: absolute;
    top: -105px;
  }
  .product--milkshake::before {
    content: url("../images/tb-product3.png");
    position: absolute;
    top: -105px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .products__header {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 58px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin-bottom: 259px;
  }
  .products-list {
    column-gap: 27px;
    row-gap: 0;
  }
  .product {
    padding: 163px 44px 50px;
    flex-basis: calc((100% - 54px) / 3);
    height: auto;
  }
  .product__name {
    font-family: Titan One;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .product__description {
    font-family: DM Sans;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-bottom: 62px;
  }
  .product--icecream::before {
    content: url("../images/pc-product1.png");
    position: absolute;
    top: -210px;
  }
  .product--coffee::before {
    content: url("../images/pc-product2.png");
    position: absolute;
    top: -210px;
  }
  .product--milkshake::before {
    content: url("../images/pc-product3.png");
    position: absolute;
    top: -210px;
  }
}
.about {
  min-width: 320px;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 245, 246);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about__bg-img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  z-index: 1;
}
.about__head {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 26px;
  z-index: 2;
}
.about__label {
  position: relative;
  font-family: Titan One;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 165, 186);
  padding-bottom: 15px;
  z-index: 2;
}
.about__title {
  position: relative;
  font-family: Titan One;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
  z-index: 2;
}
.about__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about__img {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  padding-bottom: 46px;
  z-index: 2;
}
.about__items {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
}
.about__intro {
  position: relative;
  min-width: 220px;
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-bottom: 47px;
  z-index: 2;
}
.about__paragraph {
  position: relative;
  min-width: 220px;
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(144, 126, 130);
  z-index: 2;
}
.about__btn {
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(212, 20, 67);
  background-color: rgb(255, 255, 255);
  border-radius: 22px;
  border: none;
  cursor: pointer;
  margin-top: 47px;
  width: 176px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__btn:hover, .about__btn:focus {
  background-color: rgb(236, 235, 235);
}

@media screen and (min-width: 768px) {
  .about {
    min-width: 772px;
  }
  .about__background {
    display: none;
  }
  .about__head {
    width: 440px;
    padding-top: 130px;
    padding-bottom: 50px;
  }
  .about__label {
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding-bottom: 16px;
  }
  .about__title {
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .about__content {
    display: flex;
    flex-direction: row;
  }
  .about__img {
    width: 340px;
    height: 339px;
    padding: 0;
  }
  .about__items {
    padding: 50px 36px 0 17px;
  }
  .about__intro {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-decoration: none;
    max-width: 463px;
    margin-bottom: 49px;
  }
  .about__paragraph {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-decoration: none;
    max-width: 463px;
  }
  .about__btn {
    margin-top: 62px;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-img {
    display: block;
    top: 25%;
  }
  .about__head {
    width: 534px;
    padding-top: 125px;
    padding-bottom: 55px;
  }
  .about__label {
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding-bottom: 15px;
  }
  .about__title {
    font-family: Titan One;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .about__img {
    width: 516px;
    height: 516px;
  }
  .about__items {
    padding: 55px 115px 0 74px;
  }
  .about__intro {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-decoration: none;
    width: 463px;
    height: 79px;
    margin-bottom: 35px;
  }
  .about__paragraph {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-decoration: none;
    width: 463px;
    height: 155px;
  }
  .about__btn {
    margin-top: 45px;
  }
}
.advantages {
  padding: 39px 0px 0px 20px;
}
.advantages__img {
  width: 33px;
  height: 50px;
}
.advantages__img#adv2 {
  width: 50px;
}
.advantages__img#adv3 {
  width: 44px;
}
.advantages__title {
  display: none;
}
.advantages__list {
  list-style: none;
  padding: 0;
}
.advantages__item {
  width: 230px;
}
.advantages__item--padding {
  padding-top: 38px;
  padding-bottom: 38px;
}
.advantages__desc {
  padding-top: 16px;
}
.advantages__img-title {
  width: 98px;
  height: 56px;
  font-family: Titan One;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(212, 20, 67);
}
.advantages__img-text {
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 66px 0px 0px 36px;
    margin: 0 auto;
  }
  .advantages__list {
    display: flex;
  }
  .advantages__item--padding {
    padding: 0;
  }
  .advantages__desc {
    padding-top: 36px;
  }
  .advantages__img-title {
    font-family: Titan One;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.04em;
    text-decoration: none;
    font-size: 48px;
    line-height: 55px;
  }
  .advantages__img-text {
    width: 180px;
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding-top: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 39px 0px 0px 115px;
  }
  .advantages__item {
    width: 330px;
    height: 222px;
  }
  .advantages__desc {
    padding-top: 40px;
  }
  .advantages__img-title {
    font-family: Titan One;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .advantages__img-text {
    width: 330px;
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding-top: 15px;
  }
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 97px 0px 80px 0px;
  background: -webkit-linear-gradient(180deg, rgb(255, 245, 246) 45%, rgb(255, 255, 255) 2%);
  background: -moz-linear-gradient(180deg, rgb(255, 245, 246) 45%, rgb(255, 255, 255) 2%);
  background: linear-gradient(180deg, rgb(255, 245, 246) 45%, rgb(255, 255, 255) 2%);
}
.gallery__section {
  max-width: 1280px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 140px 0px 120px 0px;
  }
}
.customer-reviews {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 85px;
}
.customer-reviews__img-container {
  margin: 0 auto 29px;
  height: 85px;
}
.customer-reviews__img {
  height: 85px;
  width: 0;
  animation: opacityImg 15s ease-in-out infinite;
}
.customer-reviews__img--two {
  animation-delay: 5s;
}
.customer-reviews__img--three {
  animation-delay: 10s;
}
.customer-reviews__text-background {
  position: relative;
  background-color: rgb(250, 250, 250);
  min-width: 280px;
  max-width: 440px;
  max-height: 308px;
  margin: 0 20px;
  padding-top: 43px;
  padding-bottom: 20px;
}
.customer-reviews__text-background::before {
  position: absolute;
  content: "";
  background-image: url(.././images/quote.png);
  background-repeat: no-repeat;
  top: 25px;
  left: 55px;
  height: 100px;
  width: 100px;
}
.customer-reviews__text-background::after {
  content: "";
  background-image: url(.././images/dots.png);
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 25px;
  height: 7px;
  background-size: 25px;
}
.customer-reviews__paper {
  margin: auto;
  padding-left: 7px;
  padding-right: 16px;
  width: 62%;
  background-image: linear-gradient(rgb(225, 225, 225) 1px, transparent 0px);
  background-size: 50% 1.95em;
  background-position-y: 1.5rem;
  overflow: hidden;
}
.customer-reviews__text {
  position: relative;
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 255%;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: auto 0;
  height: 0;
  left: -150%;
  animation: scrollText 15s ease infinite;
}
.customer-reviews__text--two {
  animation-delay: 5s;
}
.customer-reviews__text--three {
  animation-delay: 10s;
}
.customer-reviews__titles {
  margin-top: 52px;
  margin-bottom: 30px;
}
.customer-reviews__title {
  position: relative;
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0;
  bottom: 20px;
  height: 0;
  opacity: 0;
  animation: opacityTitle 15s ease infinite;
}
.customer-reviews__title--two {
  animation-delay: 5s;
}
.customer-reviews__title--three {
  animation-delay: 10s;
}
.customer-reviews__dots-menu {
  display: flex;
  margin: 0 auto;
}
.customer-reviews__dot {
  background-color: rgb(217, 217, 217);
  width: 12px;
  height: 12px;
  margin: 0 9px;
  border-radius: 50%;
  animation: homeToDot 15s ease infinite;
}
.customer-reviews__dot--two {
  animation-delay: 5s;
}
.customer-reviews__dot--three {
  animation-delay: 10s;
}

@keyframes homeToDot {
  0% {
    position: relative;
    bottom: 0;
    background-color: transparent;
    background-image: none;
    width: 12px;
    height: 12px;
    background-color: rgb(217, 217, 217);
  }
  1% {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8449 5.85484C13.0696 5.60772 13.0479 5.22897 12.7964 5.00908L7.25687 0.161935C7.00543 -0.0579491 6.60231 -0.0533429 6.35616 0.172319L0.797761 5.26751C0.551613 5.49318 0.539532 5.87145 0.771013 6.11206L0.91037 6.25719C1.14157 6.49781 1.51527 6.52649 1.74453 6.32107L2.15994 5.94907V11.3953C2.15994 11.7295 2.43069 12 2.7646 12H4.93127C5.26518 12 5.53594 11.7295 5.53594 11.3953V7.58515H8.29956V11.3953C8.29475 11.7292 8.53367 11.9998 8.86757 11.9998H11.1637C11.4976 11.9998 11.7684 11.7292 11.7684 11.3951V6.02575C11.7684 6.02575 11.8831 6.12628 12.0247 6.25069C12.166 6.37485 12.4627 6.2753 12.6874 6.02794L12.8449 5.85484Z' fill='%23D31342'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 4.5px;
    background-size: 13px;
    width: 20px;
    height: 20px;
  }
  33% {
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8449 5.85484C13.0696 5.60772 13.0479 5.22897 12.7964 5.00908L7.25687 0.161935C7.00543 -0.0579491 6.60231 -0.0533429 6.35616 0.172319L0.797761 5.26751C0.551613 5.49318 0.539532 5.87145 0.771013 6.11206L0.91037 6.25719C1.14157 6.49781 1.51527 6.52649 1.74453 6.32107L2.15994 5.94907V11.3953C2.15994 11.7295 2.43069 12 2.7646 12H4.93127C5.26518 12 5.53594 11.7295 5.53594 11.3953V7.58515H8.29956V11.3953C8.29475 11.7292 8.53367 11.9998 8.86757 11.9998H11.1637C11.4976 11.9998 11.7684 11.7292 11.7684 11.3951V6.02575C11.7684 6.02575 11.8831 6.12628 12.0247 6.25069C12.166 6.37485 12.4627 6.2753 12.6874 6.02794L12.8449 5.85484Z' fill='%23D31342'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 4.5px;
    background-size: 13px;
    width: 20px;
    height: 20px;
  }
  34% {
    position: relative;
    bottom: 0;
    background-color: rgb(217, 217, 217);
    background-image: none;
    width: 12px;
    height: 12px;
  }
  66.666% {
    background-color: rgb(217, 217, 217);
    background-image: none;
    width: 12px;
    height: 12px;
  }
  100% {
    background-color: rgb(217, 217, 217);
  }
}
@keyframes opacityImg {
  0% {
    width: 0;
  }
  9% {
    width: 85px;
  }
  10% {
    transform: rotateY(0);
    width: 85px;
  }
  25% {
    transform: rotateY(0);
    width: 85px;
  }
  33% {
    transform: rotateY(90deg);
    width: 85px;
  }
  33.333% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes opacityTitle {
  0% {
    height: 0;
    opacity: 0;
  }
  9% {
    height: 100%;
    opacity: 1;
  }
  10% {
    height: 100%;
    opacity: 1;
    color: rgb(0, 0, 0);
    left: 0;
  }
  25% {
    color: rgb(0, 0, 0);
    left: 0;
  }
  33% {
    opacity: 1;
  }
  33.333% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes scrollText {
  0% {
    height: 0;
    color: transparent;
    left: -150%;
  }
  3% {
    height: 100%;
  }
  4% {
    height: 100%;
    color: rgb(0, 0, 0);
    left: 0;
  }
  25% {
    color: rgb(0, 0, 0);
    left: 0;
  }
  30% {
    color: transparent;
    left: 150%;
  }
  33.333% {
    height: 0;
  }
  100% {
    height: 0;
    color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-bottom: 120px;
  }
  .customer-reviews__img-container {
    margin-bottom: 19px;
  }
  .customer-reviews__text-background {
    max-width: 852px;
    margin: 0 74px;
  }
  .customer-reviews__text-background::before {
    left: 80px;
  }
  .customer-reviews__text-background::after {
    bottom: -27px;
  }
  .customer-reviews__paper {
    padding-left: 20px;
    padding-right: 44px;
    width: 80%;
    background-size: 50% 2.05em;
    background-position-y: 1.52rem;
  }
  .customer-reviews__text {
    font-family: DM Sans;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 216%;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .customer-reviews__titles {
    margin-top: 42px;
    margin-bottom: 35px;
  }
  .customer-reviews__title {
    font-family: DM Sans;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-bottom: 130px;
  }
  .customer-reviews__img-container {
    margin-bottom: 15px;
  }
  .customer-reviews__text-background {
    margin: 0 176px 0 178px;
    max-width: 926px;
  }
  .customer-reviews__text-background::after {
    bottom: -18px;
  }
  .customer-reviews__paper {
    padding-left: 28px;
    padding-right: 35px;
    background-position-y: 1.59rem;
  }
  .customer-reviews__text {
    font-family: DM Sans;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .customer-reviews__titles {
    margin-top: 34px;
  }
  .customer-reviews__title {
    font-family: DM Sans;
    text-align: center;
    text-transform: none;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
}
.button {
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  border: transparent;
  border-radius: 22px;
  padding: 11px 37px;
}
.button-contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 54px;
  padding: 11px 0px;
}
.button-contacts__locations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  color: rgb(255, 255, 255);
  background-color: rgb(212, 20, 67);
  transition: 250ms ease;
}
.button-contacts__locations:hover, .button-contacts__locations:focus {
  background-color: rgb(199, 19, 62);
  transition: 250ms ease;
}
.button-contacts__franchise {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  color: rgb(212, 20, 67);
  background-color: rgb(255, 255, 255);
  transition: 250ms ease;
}
.button-contacts__franchise:hover, .button-contacts__franchise:focus {
  transition: 250ms ease;
  background-color: rgb(236, 235, 235);
}
.button-contacts .button-contacts__svg {
  margin-left: 13px;
  height: 8px;
  width: 4px;
}
.button-contacts .button-contacts__svg--color-white {
  fill: rgb(255, 255, 255);
}
.button-contacts .button-contacts__svg--color-red {
  fill: rgb(212, 20, 67);
}

@media screen and (min-width: 768px) {
  .button-contacts {
    flex-direction: row;
    gap: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.contacts-section {
  display: flex;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 1199px) {
  .contacts-section {
    background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
    background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    background-image: url(../images/background-contacts.png), linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/background-contacts-2x.png), linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  }
}

.contacts {
  gap: 20px;
  display: flex;
  flex-direction: column;
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    padding: 0px 36px 0px 36px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 16px;
    gap: 29px;
    position: relative;
  }
}
.contacts__img {
  position: absolute;
  width: 1280px;
  top: 20%;
}
.contacts__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 50px 31px;
    flex-basis: calc((100% - 60px) / 3);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 500ms;
  }
  .contacts__item:hover, .contacts__item:focus {
    transform: scale(1.2);
    z-index: 2;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item .contacts__item {
    padding: 55px 43px;
    width: 330px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
.contacts__title {
  font-family: DM Sans;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0px 25px;
  border-radius: 4px;
  margin-bottom: 25px;
  background-color: #f0d1a5;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-family: DM Sans;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: 0px 16px;
    border-radius: 6px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 32px;
  }
}
.contacts .contacts__title--bgcolor-gren {
  background-color: #c2e297;
}
.contacts .contacts__primary-text {
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__primary-text {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contacts__primary-text {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
}
.contacts .contacts__secondary-text {
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(144, 126, 130);
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__secondary-text {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contacts__secondary-text {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-bottom: 32px;
  }
}
.contacts .contacts__work-time {
  padding: 25px 0px;
  position: relative;
  margin-bottom: 25px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__work-time {
    line-height: 24px;
    padding: 30px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contacts__work-time {
    line-height: 28px;
    padding: 32px 0px;
  }
}
.contacts__work-time__primary-text {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: rgb(0, 0, 0);
}
.contacts__work-time__primary-text--before::before {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 1px;
  background-color: rgb(144, 126, 130);
}
.contacts__work-time__time--margin {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__work-time__time--margin {
    margin-bottom: 15px;
  }
}
.contacts__work-time__time--after::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: rgb(144, 126, 130);
}
.contacts__work-time__time {
  font-weight: 500;
  color: rgb(255, 165, 186);
}
.contacts__link {
  font-family: DM Sans;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(144, 126, 130);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-family: DM Sans;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
}

.backdrop {
  position: fixed;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(98, 11, 66, 0.5);
}

.btn {
  cursor: pointer;
  font-family: DM Sans;
  text-align: center;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-decoration: none;
  align-self: center;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 22px;
  padding: 10px 37px;
  max-width: 160px;
  margin-bottom: 20px;
  background: rgb(212, 20, 67);
  background-image: linear-gradient(-60deg, transparent, transparent 40%, rgba(255, 255, 255, 0.2666666667) 40%, rgba(255, 255, 255, 0.2666666667) 60%, transparent 60%, transparent 100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
}
.btn:hover, .btn:focus {
  background-position-x: -150%;
  transition: background-position-x 1500ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  width: 80vw;
  height: 90vh;
  overflow: auto;
  max-width: 1000px;
  padding: 40px;
}
.modal__close-btn {
  z-index: 25;
  width: 0;
  height: 0;
  position: absolute;
  background: none;
  fill: rgb(255, 255, 255);
  border: none;
  top: 15px;
  right: 40px;
  transition-property: fill;
  transition: 300ms ease-in-out;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  transition: 300ms ease-in-out;
  fill: rgb(211, 19, 66);
}
.modal__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.modal__label {
  position: relative;
  width: 50%;
  left: 0;
}
.modal__input {
  width: 150%;
  max-width: 500px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  left: 0;
}
.modal__tag {
  color: rgb(250, 250, 250);
  position: absolute;
  top: 0;
  font-family: DM Sans;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
  white-space: nowrap;
  transition-property: color, transform, font-size font-weight;
  transition-duration: 0.5s;
}
.modal__input:valid ~ .modal__tag, .modal__input:focus ~ .modal__tag, .modal__input:hover ~ .modal__tag {
  color: rgb(212, 20, 67);
  transform: translateY(-1.5em);
  font-size: 0.8em;
  font-weight: 700;
}
.modal__item {
  position: relative;
  /* left: -5%; */
}
.modal__item-checkbox {
  display: none;
}
.modal__name {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}
.modal__option-inner {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
  border: 2px solid transparent;
  border-image-slice: 1;
  transition: 200ms ease-in;
}
.modal__item-checkbox:checked ~ .modal__option-inner {
  /* border-color: rgba(211, 19, 66, 1); */
  border-image-source: linear-gradient(to left, rgb(255, 184, 202), rgb(225, 121, 146), rgb(255, 184, 202));
  transform: scale(90%);
}
.modal__item-checkbox:checked ~ .modal__option-inner .modal__name {
  color: rgb(194, 226, 151);
}
.modal__title {
  font-family: Titan One;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.modal__flexbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.modal__tag-decoration {
  position: absolute;
  width: 150%;
  height: 2px;
  background: white;
  bottom: -5px;
}
.modal__label .modal__tag-decoration::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background: linear-gradient(90deg, rgb(255, 184, 202), rgb(225, 121, 146), rgb(255, 184, 202));
  animation: linear 10s linear infinite;
  display: none;
  /* transition: 2s; */
}
.modal__input:valid ~ .modal__tag-decoration::before, .modal__input:focus ~ .modal__tag-decoration::before, .modal__input:hover ~ .modal__tag-decoration::before {
  left: 0;
  display: initial;
}

@keyframes linear {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1200px;
  }
}
.modal__product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.modal__image {
  width: 40%;
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .modal__image {
    width: 50%;
  }
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: rgb(255, 184, 202);
  border-radius: 0.5em;
  margin-block: 0.3em;
}

.modal::-webkit-scrollbar-track {
  background: rgb(255, 184, 202);
  margin-block: 1em;
  width: 0.1em;
  height: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: rgb(225, 121, 146);
  border: 0.2em solid rgba(255, 121, 146, 0.5);
  border-radius: 0.5em;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 19, 62);
}

@supports (scrollbar-color: rgb(225, 121, 146) rgb(255, 184, 202)) {
  * {
    scrollbar-color: rgb(225, 121, 146) rgb(255, 184, 202);
    scrollbar-width: thin;
  }
}/*# sourceMappingURL=main.css.map */