:root {
  --light-pink: #e18298;
  --main-pink: #ffb8ca;
  --menu-pink: #e17992;
  --main-red: #d41443;
  --white: #ffffff;
  --black: #000000;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/*common*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--white);
}

/*/common/*/
.header {
  height: 502px;
  background-color: var(--main-pink);
  display: flex;
  flex-direction: column;
}
.header__nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 20px 0px 20px;
}
.header__burger {
  background: none;
  border: none;
}
.header__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__banner-background {
  z-index: 1;
  display: flex;
  position: relative;
}
.header__banner-background picture img#pic1 {
  z-index: 2;
  position: absolute;
  width: 344px;
  height: 346px;
  left: -117px;
  top: 23px;
}
.header__banner-background picture img#pic2 {
  z-index: 4;
  position: absolute;
  width: 171px;
  height: 410px;
  top: 36px;
  left: -40px;
}
.header__banner-title {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 218px;
  gap: 20px;
  left: 20px;
  top: 137px;
}
.header__banner-title--red {
  color: var(--main-red);
  font-size: 48px;
  line-height: 46px;
}
.header__banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header__banner-button1 {
  background: var(--main-red);
  border-radius: 20px;
  border: none;
  width: 62px;
  height: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--white);
}
.header__banner-button2 {
  background: var(--white);
  border-radius: 20px;
  border: none;
  width: 83px;
  height: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--main-red);
}

.mobile-header {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 0px;
  background-color: var(--menu-pink);
  z-index: 20;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu__center {
  display: flex;
  justify-content: center;
}
.mobile-menu__close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 25px;
}
.mobile-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  list-style: none;
  width: 100%;
}
.mobile-menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.mobile-menu__links-item {
  display: flex;
  width: 100%;
  height: 42px;
  border-top: 1px solid var(--light-pink);
}
.mobile-menu__links-item:nth-child(5) {
  border-bottom: 1px solid var(--light-pink);
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  padding: 0px 0px 0px 21px;
}
.mobile-menu__link--current {
  color: var(--main-red);
}
.mobile-menu__button {
  width: 209px;
  height: 44px;
  background: var(--white);
  border-radius: 22px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-red);
}
.mobile-menu__button--gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */