:root {
  --light-pink: #e18298;
  --main-pink: #ffb8ca;
  --menu-pink: #e17992;
  --main-red: #d41443;
  --white: #ffffff;
  --black: #000000;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/*common*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--white);
}

/*/common/*/
.header {
  height: 502px;
  background-color: var(--main-pink);
  display: flex;
  flex-direction: column;
}
.header__nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 20px 0px 20px;
}
.header__burger {
  background: none;
  border: none;
}
.header__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__banner-background {
  z-index: 1;
  display: flex;
  position: relative;
}
.header__banner-background picture img#pic1 {
  z-index: 2;
  position: absolute;
  width: 344px;
  height: 346px;
  left: -117px;
  top: 23px;
}
.header__banner-background picture img#pic2 {
  z-index: 4;
  position: absolute;
  width: 171px;
  height: 410px;
  top: 36px;
  left: -40px;
}
.header__banner-title {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 218px;
  gap: 20px;
  left: 20px;
  top: 137px;
}
.header__banner-title--red {
  color: var(--main-red);
  font-size: 48px;
  line-height: 46px;
}
.header__banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header__banner-button1 {
  background: var(--main-red);
  border-radius: 20px;
  border: none;
  width: 62px;
  height: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--white);
}
.header__banner-button2 {
  background: var(--white);
  border-radius: 20px;
  border: none;
  width: 83px;
  height: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--main-red);
}

.mobile-header {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 0px;
  background-color: var(--menu-pink);
  z-index: 20;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu__center {
  display: flex;
  justify-content: center;
}
.mobile-menu__close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 25px;
}
.mobile-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  list-style: none;
  width: 100%;
}
.mobile-menu__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.mobile-menu__links-item {
  display: flex;
  width: 100%;
  height: 42px;
  border-top: 1px solid var(--light-pink);
}
.mobile-menu__links-item:nth-child(5) {
  border-bottom: 1px solid var(--light-pink);
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  padding: 0px 0px 0px 21px;
}
.mobile-menu__link--current {
  color: var(--main-red);
}
.mobile-menu__button {
  width: 209px;
  height: 44px;
  background: var(--white);
  border-radius: 22px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--main-red);
}
.mobile-menu__button--gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.container {
  width: 100%;
  padding: 121px 20px 98px;
  margin: 0 auto;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.products__label {
  display: block;
  font-family: "Titan One";
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 15px;
}

.products__header {
  font-family: "Titan One";
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  margin-bottom: 144px;
  letter-spacing: 0.04em;
  text-align: center;
}

.products-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  row-gap: 130px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 161px 40px 41px;
}
.product--icecream {
  background-color: #ffb8ca;
  border-radius: 24px;
  position: relative;
}
.product--icecream::before {
  content: url("../images/product1.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}
.product--coffee {
  background-color: #f0d1a5;
  border-radius: 24px;
}
.product--coffee::before {
  content: url("../images/product2.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}
.product--milkshake {
  background-color: #c2e297;
  border-radius: 24px;
}
.product--milkshake::before {
  content: url("../images/product3.png");
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
}

.product__name {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  height: auto;
  position: relative;
  padding-bottom: 30px;
  line-height: 15px;
}
.product__name::after {
  content: "...";
  font-size: 21px;
  letter-spacing: 0.1em;
  color: #fff;
  position: relative;
  bottom: -30px;
  left: 0;
}

.product__description {
  padding-top: 30px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;
}
.product__description--details {
  color: #d41443;
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;
}
.product-button:hover {
  background-color: #d41443;
  cursor: pointer;
}
.product-button:hover .product-button__icon {
  fill: white;
}

.product-button__icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    padding: 121px 34px 112px;
  }
  .products__label {
    font-size: 26px;
    line-height: 30px;
  }
  .products__header {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 150px;
  }
  .products-list {
    column-gap: 20px;
    row-gap: 0;
  }
  .product {
    padding: 152px 15px 40px;
    flex-basis: calc((100% - 40px) / 3);
  }
  .product__description {
    line-height: 176%;
  }
  .product--icecream::before {
    content: url("../images/tb-product1.png");
    position: absolute;
    top: -105px;
  }
  .product--coffee::before {
    content: url("../images/tb-product2.png");
    position: absolute;
    top: -105px;
  }
  .product--milkshake::before {
    content: url("../images/tb-product3.png");
    position: absolute;
    top: -105px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 125px 113px 120px;
    max-width: 1280px;
  }
  .products__label {
    font-size: 30px;
    line-height: 34px;
  }
  .products__header {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
  .products-list {
    column-gap: 27px;
    row-gap: 0;
  }
  .product {
    padding: 163px 44px 50px;
    flex-basis: calc((100% - 54px) / 3);
    height: auto;
  }
  .product__name {
    font-size: 30px;
    line-height: 20px;
  }
  .product__description {
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 62px;
  }
  .product--icecream::before {
    content: url("../images/pc-product1.png");
    position: absolute;
    top: -210px;
  }
  .product--coffee::before {
    content: url("../images/pc-product2.png");
    position: absolute;
    top: -210px;
  }
  .product--milkshake::before {
    content: url("../images/pc-product3.png");
    position: absolute;
    top: -210px;
  }
}/*# sourceMappingURL=main.css.map */