.backdrop {
  position: fixed;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(98, 11, 66, 0.5);
}
.btn {
  cursor: pointer;
  @include font($fw: 700, $ff: $dm-sans, $fs: 16px, $lh: 21px);
  align-self: center;
  color: $main-white;
  border-radius: 22px;
  padding: 10px 37px;
  max-width: 160px;
  margin-bottom: 20px;
  background: $main-red;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #ffffff44 40%,
    #ffffff44 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;

  &:hover,
  &:focus {
    background-position-x: -150%;
    transition: background-position-x 1500ms;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  width: 80vw;
  height: 90vh;
  overflow: auto;
  max-width: 1000px;
  padding: 40px;

  &__close-btn {
    z-index: 25;
    width: 0;
    height: 0;
    position: absolute;
    background: none;
    fill: $main-white;
    border: none;
    top: 15px;
    right: 40px;
    transition-property: fill;
    transition: 300ms ease-in-out;

    &:hover,
    &:focus {
      transition: 300ms ease-in-out;
      fill: $alt-red;
    }
  }

  &__form {
    @include flex-centered;
    flex-direction: column;
    gap: 40px;
  }

  &__label {
    position: relative;
    width: 50%;
    left: 0;
  }

  &__input {
    width: 150%;
    max-width: 500px;
    background-color: transparent;
    color: $main-white;
    border: none;
    outline: none;
    left: 0;
  }

  &__tag {
    color: $lighter-gray;
    position: absolute;
    top: 0;
    @include font(
      $fw: 400,
      $ff: $dm-sans,
      $fs: 15px,
      $lh: 16px,
      $tt: uppercase
    );
    white-space: nowrap;
    transition-property: color, transform, font-size font-weight;
    transition-duration: 0.5s;

    .modal__input:valid ~ &,
    .modal__input:focus ~ &,
    .modal__input:hover ~ & {
      color: $main-red;
      transform: translateY(-8px);
      font-size: 0.8em;
      font-weight: 700;
    }
  }

  &__item {
    position: relative;
    /* left: -5%; */
  }

  &__item-checkbox {
    display: none;
  }

  &__option-inner {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;

    border: 2px solid transparent;
    border-image-slice: 1;

    transition: 200ms ease-in;

    .modal__item-checkbox:checked ~ & {
      /* border-color: rgba(211, 19, 66, 1); */
      border-image-source: linear-gradient(
        to left,
        $light-pink,
        $dark-pink,
        $light-pink
      );
      transform: scale(90%);
      .modal__name {
        color: $main-green;
      }
    }
  }

  &__name {
    display: block;
    color: $main-white;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__title {
    @include font(
      $fw: 500,
      $ff: $titan-one,
      $fs: 24px,
      $lh: 18px,
      $tt: uppercase
    );
    color: $main-white;
  }

  &__flexbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }
}

.modal__tag-decoration {
  position: absolute;
  width: 150%;
  height: 2px;
  background: white;
  bottom: -5px;

  .modal__label &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background: linear-gradient(90deg, $light-pink, $dark-pink, $light-pink);
    animation: linear 10s linear infinite;
    display: none;
    /* transition: 2s; */
  }

  .modal__input:valid ~ &::before,
  .modal__input:focus ~ &::before,
  .modal__input:hover ~ &::before {
    left: 0;
    display: initial;
  }
}

@keyframes linear {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1200px;
  }
}

.modal__product-container {
  @include flex-centered;
  flex-wrap: wrap;
  gap: 5px;
}

.modal__image {
  width: 40%;
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .modal {
    &__image {
      width: 50%;
    }
  }
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: $light-pink;
  border-radius: 0.5em;
  margin-block: 0.3em;
}

.modal::-webkit-scrollbar-track {
  background: $light-pink;
  //   border-radius: 0.5em;
  margin-block: 1em;
  width: 0.1em;
  height: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: $dark-pink;
  border: 0.2em solid rgba(255, 121, 146, 50%);
  border-radius: 0.5em;

  &:hover {
    background: $light-red;
  }
}

@supports (scrollbar-color: $dark-pink $light-pink) {
  * {
    scrollbar-color: $dark-pink $light-pink;
    scrollbar-width: thin;
  }
}
