.container {
  width: 100%;
  padding: 121px 20px 98px;
  margin: 0 auto;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.products__label {
  display: block;
  font-family: "Titan One";
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 15px;
}
.products__header {
  font-family: "Titan One";
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  margin-bottom: 144px;
  letter-spacing: 0.04em;
  text-align: center;
}

.products-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  row-gap: 130px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 161px 40px 41px;

  &--icecream {
    background-color: #ffb8ca;
    border-radius: 24px;
    position: relative;
    &::before {
      content: url("../images/product1.png");
      position: absolute;
      top: -114px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--coffee {
    background-color: #f0d1a5;
    border-radius: 24px;
    &::before {
      content: url("../images/product2.png");
      position: absolute;
      top: -114px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--milkshake {
    background-color: #c2e297;
    border-radius: 24px;
    &::before {
      content: url("../images/product3.png");
      position: absolute;
      top: -114px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.product__name {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  height: auto;
  position: relative;
  padding-bottom: 30px;
  line-height: 15px;

  &::after {
    content: "...";
    font-size: 21px;
    letter-spacing: 0.1em;
    color: #fff;
    position: relative;
    bottom: -30px;
    left: 0;
  }
}

.product__description {
  padding-top: 30px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;

  &--details {
    color: #d41443;
  }
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: #d41443;
    cursor: pointer;
    .product-button__icon {
      fill: white;
    }
  }
}

.product-button__icon {
  width: 15px;
  height: 15px;
  fill: #d41443;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    padding: 121px 34px 112px;
  }

  .products__label {
    font-size: 26px;
    line-height: 30px;
  }

  .products__header {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 150px;
  }
  .products-list {
    column-gap: 20px;
    row-gap: 0;
  }

  .product {
    padding: 152px 15px 40px;
    flex-basis: calc((100% - 2 * 20px) / 3);

    &__description {
      line-height: 176%;
    }

    &--icecream {
      &::before {
        content: url("../images/tb-product1.png");
        position: absolute;
        top: -105px;
      }
    }

    &--coffee {
      &::before {
        content: url("../images/tb-product2.png");
        position: absolute;
        top: -105px;
      }
    }

    &--milkshake {
      &::before {
        content: url("../images/tb-product3.png");
        position: absolute;
        top: -105px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 125px 113px 120px;
    max-width: 1280px;
  }

  .products__label {
    font-size: 30px;
    line-height: 34px;
  }

  .products__header {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }

  .products-list {
    column-gap: 27px;
    row-gap: 0;
  }

  .product {
    padding: 163px 44px 50px;
    flex-basis: calc((100% - 2 * 27px) / 3);
    height: auto;

    &__name {
      font-size: 30px;
      line-height: 20px;
    }

    &__description {
      font-size: 16px;
      line-height: 176%;
      margin-bottom: 62px;
    }

    &--icecream {
      &::before {
        content: url("../images/pc-product1.png");
        position: absolute;
        top: -210px;
      }
    }

    &--coffee {
      &::before {
        content: url("../images/pc-product2.png");
        position: absolute;
        top: -210px;
      }
    }

    &--milkshake {
      &::before {
        content: url("../images/pc-product3.png");
        position: absolute;
        top: -210px;
      }
    }
  }
}
